.header-search #sb-finder-search-form .form-item-material-type a.ui-selectmenu {
  width: 96px!important;
}
#edit-text {
  width: 210px;
}
.menu-7941 > a:nth-child(1) {
  text-decoration: none;
  color: inherit;
  vertical-align: top;
}
div.views-row:nth-child(3) > div:nth-child(1) > span:nth-child(1) > div:nth-child(1) {
  background-image: url('https://lh6.googleusercontent.com/v7L3NQEJvSz3RCc_eGuRMOQcbPCvLbWjaMBpmebeYdtLHZ7ul5blWz-jkUDy7ISv_uETgFgRAyWvbw0=w2560-h1766') !important;
  height: 480px!important;
}
.right {
  float: left !important;
}
#custom-slide {
  background-image: url('https://lh3.googleusercontent.com/DXE5e_b_aO5tWbmfcizah3BW5cN6DpHkyfL9CEhtzQBqqxblMBzaPuq-xCrK_GY6A8L1t9In8qg-WN8=w2560-h1790') !important;
  height: 480px!important;
}
#hp-slider-content {
  width: 600px;
}
.advanced-composite-material {
  margin-bottom: 20px !important;
  margin-left: -5px !important;
}
.lexicon-term {
  border-bottom: none !important;
  color: inherit !important;
  font-weight: inherit !important;
}