/*
  =================================================================
  Global
  =================================================================
*/

#hlogo a {
  height: 42px;
  top: 2px;
  background-image: url("https://plainclothes.github.io/stackexchange/ux-face--tag-line.svg");
  background-repeat: no-repeat;
}
