/*
  =================================================================
  Global
  =================================================================
*/

body {
  background: none #f9f9f9;
  box-shadow: 0 90px 0 hsla(207, 119%, 30%, 1) inset;
}

#header {
  height: 84px;
  padding: 0;
  margin: auto;
}

#hlogo a {
  top: 1px;
  width: auto;
  background: none;
  text-indent: 0;
  font-size: 30px;
  font-weight: 300;
  color: hsla(207, 96%, 54%, 1);
}

#hmenus {
  top: 9px;
}

#hmenus, 
.mainnavs ul li a,
.askquestion ul li a, 
.askquestion ul li.youarehere a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: hsla(193, 90%, 54%, 1);
}

#hmenus .mainnavs ul li {
  margin-left: 6px;
}

.askquestion ul li a, 
.askquestion ul li.youarehere a {
  background: none;
  box-shadow: none;
  border: solid 1px hsla(193, 84%, 48%, 1);
}

.askquestion ul li a:hover, 
.askquestion ul li.youarehere a:hover {
  color: #000c33;
  background: hsla(193, 84%, 48%, 1);
  box-shadow: 0 3px 18px rgba(0,0,0,.6);
}